body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  color: rgba(0, 0, 0, 0.46);
  position: static;
}
.logo {
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.navBar {
  font-size: 20px;
  font-weight: bold;
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style-type : none;
}
li{
  cursor: pointer;
}
li:hover {
  color: red;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 20px 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footerList {
  display: flex;
  gap: 60px;
  list-style-type : none;
  margin-right: 50px; 
}
.logo-footer{
  display: flex;
  gap: 20px;
  align-items: center;
}
.icons {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.icons:hover {
  color: red;
}

 @media all and (max-width: 500px){
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: cadetblue;
    color: aliceblue;
    position: fixed;
    width: 100%;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .navBar {
    font-size: 10px;
    font-weight: bold;
  }
  .navList {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type : none;
  }
  li{
    cursor: pointer;
  }
  .footer{
    width: 100%;
  }
  .footerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style-type : none;
    
  }
 }