body, html {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  background-color: cadetblue;
  color: aliceblue;
  position: fixed;
}
.logo {
  height: 100px;
  width: 100px;
}
.navBar {
  font-size: 20px;
  font-weight: bold;
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style-type : none;
}
li{
  cursor: pointer;
}
li:hover {
  color: red;
}

 @media all and (max-width: 500px){
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: cadetblue;
    color: aliceblue;
    position: fixed;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .navBar {
    font-size: 10px;
    font-weight: bold;
  }
  .navList {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type : none;
  }
  li{
    cursor: pointer;
  }
 }